div.layout-row {
    margin : 0 0 1em 0;
    width : 30%;
}

div.imgdiv {
    margin : 0 0 1em 0;
    width : 30%;
}


#gallery_div {
    width: inherit;
    height: inherit;
    margin-top: 68px;
    padding: 0;
    background-color: #333333;
}

#blackBar{
    font-family : Arial;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:60px;
    background-color:black;
    z-index : 1;
}

.gallery_title {
    font-size : 30px;
    color : white;
    padding-top : 14px;
    padding-left : 20px;
}

#add_photo {
    font-size : 20px;
    color : #57ff53;
    display : table;
    margin : -24px auto;
}
