div.layout-row {
    margin : 0 0 1em 0;
    width : 30%;
}

div.imgdiv {
    margin : 0 0 1em 0;
    width : 30%;
}


#gallery_div {
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    background-color: #333333;
}

