div.layout-row {
    display : inline;
    margin : 0 0 1em 0;
    width : 45.2%;
}

div.imgdiv {
    display : inline;
    margin : 0 0 1em 0;
    width : 45.2%;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #333333;
    overflow-y: scroll; overflow-x:hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #333333;
    position: absolute;
}

#gallery_div {
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    background-color: #333333;
}

