body {
    background-color : white;
    color : #06065d;
    font-family : Arial;
}

.label { 
    float : left;
    margin-right : 10px;
    font-size : 30px;
}

.input_box {
    float : left;
    margin-top : 2px;
}

#content {
    width : 570px;
    margin-right : auto;
    margin-left : auto;
    margin-top : 50px;
}

#pass_div {
    clear : both;
}

#sub_but {
    clear : both;
}

#footer {
    font-family : Arial;
    color : white;
    font-size: 10pt;
    width: 100%;
    height: 18px;
    position: absolute;
    bottom: 0;
    left: 0;
    background:#0D0D6B;
}

#copyright {
    margin-top : 2px;
    width: 50%;
    float: right;
}

#privacy {
    margin-top : 2px;
    margin-right: 40px;
    color: white;
    float: right;
}

#terms {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size:8pt;
}

#left {
    width:50%;
}
